$yellow: #FFCC16;
$black: #222;
$green: #1E7E50;
$blue: #2F9885;
$red: #CD5D44;

$typeColor: $black;
$linkColor: $black;

$linkHoverColor: white;

.container {
  text-align: center;
  display: block;

  color: $black;

  &.main-container {
    min-height: 100vh;
  }
}


.theme-01 {
  .container {
    font-size: calc(10px + 2vmin);
    &.main-container {
      flex-direction: column;
    display: flex;
      align-items: center;
      justify-content: center;
    }
    &.home {
      background-color: $yellow;
      color: $black;
    }

    &.daw {
      background-color: $black;
      color: $yellow;
    }
  }

  a {
    color: $linkColor;

    &:hover {
      color: $linkHoverColor;
    }
  }

}
